.navbar-brand>img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.navbar-collapse {
    justify-content: end;
}

nav {
    background-color: green !important;
    z-index: 1;

}

nav a {
    color: white !important;
    font-family: "SUSE", sans-serif;
}

nav a:hover {
    color: black !important;
    border: none;
    border-bottom: 2px solid;
    text-transform: uppercase;
}

nav {
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}